@use './colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	font-family: 'Outfit', sans-serif;
	font-size: 1.6rem;
	background-color: $very-dark-graylish-blue;
}

.wrapper {
	max-width: 328px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.app-menu {
	position: fixed;
	top: -20%;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0;
	padding: 0 1.5em;
	background-color: $very-dark-graylish-blue;
	opacity: 0;
	z-index: 100;

	&__logo {
		display: flex;
		justify-content: center;
		column-gap: 0.5em;
		margin-bottom: 2em;
	}

	&__box {
		padding: 1.5em 1.5em 1.9em;
		text-align: center;
		background-color: $dark-graylish-blue;
		border-radius: 15px;
		box-shadow: 0px -8px 0px 0px #10212a inset;

		&-title {
			font-size: 1.6rem;
			color: $gray;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		&-btns {
			display: flex;
			column-gap: 2px;
			margin: 1.5em 0 1em;
			padding: 0.5em;
			background-color: $very-dark-graylish-blue;
			border-radius: 10px;
			overflow: hidden;
		}

		&-btn {
			display: grid;
			place-items: center;
			padding: 0.8em 0;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			transition: background-color 0.3s;

			img {
				width: 32px;
				height: 32px;
				filter: brightness(0) saturate(100%) invert(81%) sepia(13%) saturate(365%) hue-rotate(153deg) brightness(95%)
					contrast(79%);
			}

			&--active {
				background-color: $gray;
				cursor: default;

				img {
					filter: brightness(0) saturate(100%) invert(12%) sepia(6%) saturate(3580%) hue-rotate(158deg) brightness(97%)
						contrast(91%);
				}
			}

			&:hover {
				background-color: rgba(168, 191, 201, 0.05);
			}

			&:hover.app-menu__box-btn--active {
				background-color: $gray;
			}
		}

		&-info {
			font-size: 1.4rem;
			color: $gray;
			text-transform: uppercase;
			letter-spacing: 0.8px;
			opacity: 0.5;
		}
	}

	&__btns {
		display: flex;
		flex-direction: column;
		row-gap: 1em;
		margin-top: 2em;

		&-btn {
			padding: 0.8em 0 1.2em;
			font-family: inherit;
			font-size: 1.6rem;
			color: $very-dark-graylish-blue;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			border: none;
			border-radius: 15px;
			cursor: pointer;
			transition: background-color 0.3s, box-shadow 0.3s, transform 0.1s;

			&--solo {
				background-color: $orange;
				box-shadow: inset 0px -8px 0px #cc8b13;

				&:hover {
					background-color: $light-orange;
					box-shadow: inset 0px -8px 0px $orange;
					transform: scale(0.98);
				}
			}

			&--multi {
				background-color: $blue;
				box-shadow: inset 0px -8px 0px #118c87;

				&:hover {
					background-color: $light-blue;
					box-shadow: inset 0px -8px 0px $blue;
					transform: scale(0.98);
				}
			}
		}
	}
}

.app-main {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -110%;
	display: none;
	justify-content: center;
	padding: 1.45em;
	height: 0;
	opacity: 0;

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4em;

		&-logo {
			display: flex;
			column-gap: 0.5em;
		}

		&-info {
			display: flex;
			align-items: center;
			padding: 0.6em 1em 0.8em;
			background-color: $dark-graylish-blue;
			box-shadow: inset 0px -4px 0px #10212a;
			border-radius: 10px;

			&-img {
				width: 16px;
				height: 16px;
				margin-right: 0.8em;
				filter: brightness(0) saturate(100%) invert(81%) sepia(13%) saturate(365%) hue-rotate(153deg) brightness(95%)
					contrast(79%);
				animation: grow 0.3s forwards;
			}

			&-text {
				font-size: 1.4rem;
				color: $gray;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}

		&-restart-btn {
			padding: 1.2rem;
			background-color: $gray;
			border-radius: 10px;
			box-shadow: inset 0px -4px 0px #6b8997;
			border: none;
			cursor: pointer;

			img {
				display: block;
				width: 15px;
				height: 15px;
			}
		}
	}

	&__body {
		margin: 0 auto;
		&-boxes {
			display: grid;
			place-items: center;
			grid-template-columns: repeat(3, 70px);
			grid-template-rows: repeat(3, 70px);
			gap: 2rem;
		}

		&-box {
			display: grid;
			place-items: center;
			margin-left: 3em;
			width: 0;
			height: 0;
			background-color: $dark-graylish-blue;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 50%;
			border-radius: 10px;
			box-shadow: inset 0px -8px 0px #10212a;
			opacity: 0;
			cursor: pointer;
			transition: background-color 0.3s, transform 0.3s;

			&:hover {
				transform: scale(1.05);
			}

			&--used {
				background-image: none;
				cursor: not-allowed;

				&:hover {
					transform: none;
				}
			}

			&-img {
				width: 40px;
				height: 40px;
				animation: grow 0.3s forwards;
			}
		}

		&-summary {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			text-align: center;
			padding: 0.8em 0.1em;
			color: $very-dark-graylish-blue;
			border-radius: 10px;

			&-title {
				font-size: 1.2rem;
				letter-spacing: 0.8px;
				text-transform: uppercase;
			}

			&-number {
				font-size: 2rem;
				font-weight: 700;
				letter-spacing: 1.25px;
			}

			&--p1 {
				background-color: $blue;
			}

			&--ties {
				background-color: $gray;
			}

			&--p2 {
				background-color: $orange;
			}
		}
	}
}

.summary-board {
	position: fixed;
	top: 50%;
	right: -110%;
	transform: translateY(-50%);
	padding: 3.8em 1em;
	width: 100%;
	background-color: $dark-graylish-blue;
	text-align: center;
	z-index: 101;
	opacity: 0;
	visibility: hidden;

	&--win {
		.summary-board__title {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				height: 28px;
				width: 28px;
				margin-right: 0.9rem;
			}
		}

		&-x {
			.summary-board__title {
				color: $blue;
				img {
					content: url('../img/icons/icon-x.svg');
				}
			}
		}

		&-o {
			.summary-board__title {
				color: $orange;
				img {
					content: url('../img/icons/icon-o.svg');
				}
			}
		}
	}

	&-shadow {
		position: absolute;
		left: 0;
		right: 0;
		height: 0;
		background-color: #000;
		opacity: 0.6;
		z-index: 99;

		&--top {
			top: -50vh;
		}

		&--bottom {
			bottom: -50vh;
		}
	}

	&__win-info {
		margin-bottom: 1.1em;
		font-size: 1.4rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		color: $gray;
	}

	&__title {
		margin-bottom: 1em;
		font-size: 2.4rem;
		color: $gray;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}

	&__btn {
		padding: 0.9em 1em 1.1em;
		font-family: inherit;
		font-size: 1.6rem;
		color: $very-dark-graylish-blue;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		border: none;
		border-radius: 10px;
		transition: background-color 0.3s;
		cursor: pointer;

		&--easy {
			margin-right: 1em;
			background-color: $blue;
			box-shadow: inset 0px -4px 0px #118c87;

			&:hover {
				background-color: $light-blue;
			}
		}

		&--normal,
		&--cancel {
			margin-right: 1em;
			background-color: $gray;
			box-shadow: inset 0px -4px 0px #6b8997;

			&:hover {
				background-color: $light-gray;
			}
		}

		&--hard,
		&--confirm {
			background-color: $orange;
			box-shadow: inset 0px -4px 0px #cc8b13;

			&:hover {
				background-color: $light-orange;
			}
		}
	}
}

@media (min-width: 375px) {
	.app-main {
		&__body {
			&-boxes {
				grid-template-columns: repeat(3, 96px);
				grid-template-rows: repeat(3, 96px);
			}
		}
	}
}
@media (min-width: 768px) {
	.wrapper {
		max-width: 460px;
	}

	.app-menu {
		&__logo {
			margin-bottom: 2.5em;
		}

		&__btns {
			&-btn {
				font-size: 2rem;
				letter-spacing: 1.2px;
			}
		}
	}

	.app-main {
		align-items: center;

		&__nav {
			margin-bottom: 1.2em;

			&-info {
				padding: 0.8em 1.9em 1.2em;

				&-img {
					width: 20px;
					height: 20px;
				}

				&-text {
					font-size: 1.6rem;
				}
			}

			&-restart-btn {
				padding: 1.6rem;

				img {
					width: 20px;
					height: 20px;
				}
			}
		}

		&__body {
			&-boxes {
				grid-template-columns: repeat(3, 140px);
				grid-template-rows: repeat(3, 140px);
			}
			&-box {
				border-radius: 15px;

				&-img {
					width: 64px;
					height: 64px;
				}
			}

			&-summary {
				border-radius: 15px;

				&-title {
					font-size: 1.4rem;
				}

				&-number {
					font-size: 2.4rem;
					letter-spacing: 1.5px;
				}
			}
		}
	}

	.summary-board {
		padding: 4.2em 1em;

		&--win {
			.summary-board__title {
				img {
					height: 64px;
					width: 64px;
					margin-right: 2.4rem;
				}
			}
		}

		&__title {
			margin-bottom: 0.6em;
			font-size: 4rem;
			letter-spacing: 2.5px;
		}
	}
}

@keyframes grow {
	0% {
		transform: scale(0) rotate(0);
	}

	70% {
		transform: scale(1.1) rotate(-90deg);
	}

	100% {
		transform: scale(1) rotate(0);
	}
}
